<!-- Hero Image -->

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Welcome to Carla's Cookbook App</h1>
      <p class="lead">Cook delicious meals with no stress - full of joy.
      Discover recipes and how-tos based on the food you love.</p>
      <p class="lead">Learn to perform the magic of these everyday transformations
      and open the door to a more nourishing life.</p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img src="images/recipe.jpeg" alt="recipes" class="img-fluid rounded-lg-3" width="400">
    </div>
  </div>
</div>

<!-- Hero Image -->

<!-- All Recipes -->
<a id="all_recipes">

<div class="d-flex justify-content-end mb-3">
  <a href="/new" class="btn btn-dark fw-bold">Add a new recipe</a>
</div>

<div class="d-flex flex-row flex-wrap justify-content-evenly mt-2">
  <%  @recipes.each_with_index do |element, index| %>

    <div class="card my-3 mx-auto" style="width: 22rem">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>

          <h2 class="card-title fw-bold">
            <%= index + 1  %>. <%= element.title %>
          </h2>
          <div class="d-flex mx-1">
            <p class="me-3 text-muted"><strong>Rating:</strong> (<%= element.rating %> / 5)  </p>
            <p class="text-muted"> <strong>Prep time:</strong> <%=  element.prep_time %> </p>
          </div>
          <p class="card-text"> <%= element.description %> </p>

        </div>

        <div class="card-actions">
          <div class="d-flex justify-content-between align-items-center pt-2">

            <a href="/recipes/<%= element.id %>" class="text-decoration-none text-dark">
              <span class="mx-1 h4 tt" data-bs-placement="top" title="Delete recipe"><i class="fas fa-trash"></i></span>
            </a>

              <% if element.done == true %>
                <a href="/recipe/<%= element.id %>" class="text-decoration-none text-success">
                  <span class="mx-1 h4 text-success tt" data-bs-placement="top" title="Mark recipe as done"><i class="far fa-check-square"></i></span>
                </a>
              <% else %>
                <a href="/recipe/<%= element.id %>" class="text-decoration-none text-secondary">
                  <span class="mx-1 h4 text-secondary tt" data-bs-placement="top" title="Mark recipe as done"><i class="far fa-check-square"></i></span>
                </a>
              <% end %>

          </div>
        </div>

      </div>
    </div>
  </a>
  <% end  %>
</div>

<!-- All Recipes -->
